In [1]:
#Importing the Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import os

In [3]:
#Importing the Dataset
os.chdir('C:/Users/SURYAKIRAN/Downloads')

In [4]:
df = pd.read_csv("MiningProcess_Flotation_Plant_Database.csv",decimal=",",parse_dates=["date"],infer_datetime_format=True).drop_duplicates()

In [5]:
# A basic analysis of dataset
df.head()

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,55.2,16.98,3019.53,557.434,395.713,10.0664,1.74,249.214,253.235,...,250.884,457.396,432.962,424.954,443.558,502.255,446.370,523.344,66.91,1.31
1,2017-03-10 01:00:00,55.2,16.98,3024.41,563.965,397.383,10.0672,1.74,249.719,250.532,...,248.994,451.891,429.560,432.939,448.086,496.363,445.922,498.075,66.91,1.31
2,2017-03-10 01:00:00,55.2,16.98,3043.46,568.054,399.668,10.0680,1.74,249.741,247.874,...,248.071,451.240,468.927,434.610,449.688,484.411,447.826,458.567,66.91,1.31
3,2017-03-10 01:00:00,55.2,16.98,3047.36,568.665,397.939,10.0689,1.74,249.917,254.487,...,251.147,452.441,458.165,442.865,446.210,471.411,437.690,427.669,66.91,1.31
4,2017-03-10 01:00:00,55.2,16.98,3033.69,558.167,400.254,10.0697,1.74,250.203,252.136,...,248.928,452.441,452.900,450.523,453.670,462.598,443.682,425.679,66.91,1.31

In [6]:
#dimention of the data set
df.shape

(736282, 24)

In [7]:


    #In the dataset we have to predict the % Silica Concentrate
    #Silica Concentrate is the impurity in the iron ore which needs to be removed
    #The current process of detecting silica takes many hours.
    #With the help of some analysis and modelling of data we can give a good approximation of silica concentrate which will reduce a lot of time and effort required for processing iron ore

In [8]:
#search for NULL values in the data set
#Great! So we can see that there are no null values in the dataset.
df = df.dropna()
df.shape

(736282, 24)

In [11]:
#Observe the data
df.describe()

,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,Flotation Column 03 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
count,736282.000000,736282.000000,736282.000000,736282.000000,736282.000000,736282.000000,736282.000000,736282.000000,736282.000000,736282.000000,...,736282.000000,736282.000000,736282.000000,736282.000000,736282.000000,736282.00000,736282.000000,736282.000000,736282.000000,736282.000000
mean,56.298307,14.648984,2869.636615,488.165523,397.570736,9.767315,1.680424,280.119813,277.121249,281.052538,...,290.740507,520.168402,522.555279,531.283790,420.169753,425.09453,429.889517,420.910258,65.049096,2.327270
std,5.160365,6.810741,1216.017896,91.254428,9.705444,0.387176,0.069206,29.633831,30.157126,28.571077,...,28.690520,131.085819,128.216232,150.931865,91.755819,84.47917,89.919586,84.899167,1.118721,1.125616
min,42.740000,1.310000,0.002026,241.669000,376.249000,8.753340,1.519820,175.510000,175.156000,176.469000,...,185.962000,149.218000,210.752000,126.255000,162.201000,166.99100,155.841000,175.349000,62.050000,0.600000
25%,52.670000,8.940000,2075.070000,431.835848,394.248000,9.527050,1.647390,250.278000,250.448000,250.847000,...,256.047750,416.902000,441.835250,411.256000,356.627000,357.59525,358.438000,356.705250,64.370000,1.440000
50%,56.080000,13.850000,3020.230000,504.352500,399.238000,9.797460,1.697580,299.341000,296.202000,298.690000,...,299.002000,491.749000,495.853500,494.184000,411.770500,408.65000,424.427000,410.940000,65.210000,2.000000
75%,59.720000,19.600000,3728.930000,553.335750,402.967000,10.037800,1.728380,300.147000,300.686000,300.385000,...,301.907000,594.097750,595.293000,601.299000,485.285000,484.00800,492.773000,476.145000,65.860000,3.010000
max,65.780000,33.400000,6300.230000,739.538000,418.641000,10.808100,1.853250,373.871000,375.992000,364.346000,...,371.593000,862.274000,828.919000,886.822000,680.359000,675.64400,698.861000,659.902000,68.010000,5.530000

In [13]:
#remove um-necessary variable
df = df.drop(['date', '% Iron Concentrate', 'Ore Pulp pH', 'Flotation Column 01 Air Flow', 'Flotation Column 02 Air Flow', 'Flotation Column 03 Air Flow'], axis=1)

In [14]:
Y = df['% Silica Concentrate']
X = df.drop(['% Silica Concentrate'], axis=1)

In [ ]:
#$from sk learn import preprocessing
#Scaling the features¶&for splitting the data

In [15]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()

In [16]:
X_scaled = pd.DataFrame(min_max_scaler.fit_transform(X), columns=X.columns)

In [17]:
#splitting
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(X_scaled, Y, test_size=0.3, random_state=42)

In [19]:
#Training a Model
#Using Linear Regression 
from sklearn.linear_model import LinearRegression

In [20]:
#model building
reg = LinearRegression()

In [21]:
_ = reg.fit(X_train, Y_train)

In [22]:
predictions = reg.predict(X_test)
predictions

array([2.9661312 , 2.08750249, 2.48277175, ..., 2.36085944, 2.24827599,
       1.93280309])

In [23]:
predictions = reg.predict(X_test)
predictions

array([2.9661312 , 2.08750249, 2.48277175, ..., 2.36085944, 2.24827599,
       1.93280309])

In [25]:
# Finding Mean Squared Error
from sklearn.metrics import mean_squared_error

In [26]:
error = mean_squared_error(Y_test, predictions)
error

1.1534498633347785

In [27]:
# Using Stochastic Gradient Descent BUILD MODEL
from sklearn.linear_model import SGDRegressor

In [28]:
reg_sgd = SGDRegressor(max_iter=1000, tol=1e-3)

In [29]:
_ = reg_sgd.fit(X_train, Y_train)

In [30]:
predicitons_sgd = reg_sgd.predict(X_test)

In [31]:
# Finding Mean Squared Error
error_sgd = mean_squared_error(Y_test, predicitons_sgd)
error_sgd

1.1543607360582588

In [ ]:
###### BY USING ENSEMBLES AND RAMDOMFOREST FOR REGRESSOR

In [ ]:
# building  model

In [51]:
Y = df['% Silica Concentrate']
X = df.drop(['% Silica Concentrate'], axis=1)

In [41]:
#import RandomForestRegressor from sklearn.ensemble 
from sklearn.ensemble import RandomForestRegressor

In [42]:
# Model creation and fit
model = RandomForestRegressor()
model.fit(X,Y)

C:\Users\SURYAKIRAN\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [45]:
# Show model results of training set
y_hat = model.predict(X)
mae = metrics.mean_absolute_error(Y,y_hat)
mse = metrics.mean_squared_error(Y,y_hat)
print ("TRAINING SET")
print ("============")
print ("MAE:                ", mae)
print ("RMSE:               ", math.sqrt(mse))
print ("r2:                 ", model.score(X,Y))
print ("feature_importances:",model.feature_importances_)
print ("n_features:         ",model.n_features_)
print ("n_outputs:          ",model.n_outputs_)
print ("last column (% Iron Concentrate) is the highest feature_importances")

TRAINING SET
============
MAE:                 0.0520420460411413
RMSE:                0.13660215247579208
r2:                  0.9852722931895824
feature_importances: [0.14466714 0.1401789  0.05550717 0.08949046 0.02778911 0.08035349
 0.07413587 0.0588104  0.05764674 0.01058857 0.05842403 0.04462764
 0.057091   0.01999857 0.04028628 0.02701785 0.01338678]
n_features:          17
n_outputs:           1
last column (% Iron Concentrate) is the highest feature_importances